.questionsHeader {
  font-size: 2rem;
  margin-bottom: 6rem;
}
.questionsHeader progress {
  width: 100%;
  height: 2.2rem;
}
.questionsHeader div {
  display: flex;
  justify-content: space-between;
}

.questionName {
  font-size: 2.2rem;
}
.questionName h4 {
  font-weight: bold;
  font-size: 2.4rem;
  text-align: start;
  margin-bottom: 2rem;
}
.questionName div {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  margin-bottom: 5rem;
}
.questionName button {
  border: 2px solid var(--btn-bg);
  background-color: var(--btn-bg);
  border-radius: 10rem;
  padding: 0.6rem 0;
  cursor: pointer;
  transition: var(--transition);
}
.questionName button:hover {
  background-color: transparent;
}
.questionName .colorAnswers {
  background-color: orange;
}
.questionName .colorAnswers:hover {
  background-color: #00afbf;
}
.questionName .colorAnswers:disabled:hover {
  background-color: orange;
  cursor: not-allowed;
}
.questionName .choosenAnswer {
  background-color: #00afbf;
  transform: translateX(3rem);
}
.questionName .uncorrect {
  background-color: red;
}
.questionName .uncorrect:disabled:hover {
  background-color: red;
}

.questionName .correct {
  animation: blinkAnimation 0.6s linear forwards 10;
  transform: translateX(3rem);
}
@keyframes blinkAnimation {
  0% {
    background-color: #049caa;
  }
  50% {
    background-color: orange;
  }
  100% {
    background-color: #049caa;
  }
}

.questionFooter .confirm {
  border: 2px solid orange;
}
.questionFooter .confirm:disabled {
  cursor: not-allowed;
  border: 1px solid var(--btn-bg);
}

.questionFooter {
  display: flex;
  justify-content: space-between;
}
.questionFooter button {
  /*   width: 16rem;
  font-size: 2rem;
  padding: 1.2rem;
  border-radius: 10rem;
  border: 1px solid var(--btn-bg);
  background-color: var(--btn-bg);
  cursor: pointer;
   */
  width: 16rem;
  font-size: 2rem;
  padding: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: var(--transition);
  background: transparent;
  border-radius: 10rem;

  position: relative;
  display: inline-block;
  outline: none;
  z-index: 0;
  overflow: hidden;
  border: 2px solid orange;
  color: orange;
}
.questionFooter button:hover {
  color: #fff;
}
.questionFooter button:hover:after {
  width: 100%;
}
.questionFooter button:after {
  content: '';
  position: absolute;
  z-index: -1;
  transition: var(--transition);
  right: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: orange;
}
.questionFooter button:disabled {
  border: 1px solid var(--btn-bg);
  color: #ffffff72;
  cursor: not-allowed;
  font-weight: normal;
}
.questionFooter button:disabled:hover:after {
  width: 0%;
}

/* .questionFooter button:hover {
  background-color: transparent;
}
 */

.questionFooter p {
  font-size: 2rem;
  padding: 1.2rem 2.4rem;
  border-radius: 10rem;
  border: 1px solid var(--btn-bg);
  display: inline-block;
}
.questionFooter div {
  display: flex;
  gap: 2rem;
}

.css-button-sliding-to-left--yellow {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid #ffd819;
  color: #ffd819;
}
.css-button-sliding-to-left--yellow:hover {
  color: #fff;
}
.css-button-sliding-to-left--yellow:hover:after {
  width: 100%;
}
.css-button-sliding-to-left--yellow:after {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  right: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: #ffd819;
}
