.questionsHeader {
  font-size: 2rem;
  margin-bottom: 6rem;
}
.questionsHeader progress {
  -webkit-appearance: none;
  width: 100%;
  height: 2.2rem;
  border-radius: 10rem;
}
.questionsHeader div {
  display: flex;
  justify-content: space-between;
}
progress::-webkit-progress-bar {
  background-color: #ffffffab;
  padding: 2px;
  border-radius: 10rem;
}
progress::-webkit-progress-value {
  background-color: rgb(7, 104, 118);
  border-radius: 10rem;
}
/* Firefox */
progress::-moz-progress-bar {
  background-color: rgb(7, 104, 118);
  border-radius: 10rem;
}

.questionName {
  font-size: 2.2rem;
}
.questionName h4 {
  font-weight: bold;
  font-size: 2.4rem;
  text-align: start;
  margin-bottom: 2rem;
}
.questionName div {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  margin-bottom: 5rem;
}
.questionName button {
  color: #fff;
  border: 2px solid var(--btn-bg);
  background-color: var(--btn-bg);
  border-radius: 10rem;
  padding: 0.6rem 0;
  cursor: pointer;
  transition: var(--transition);
}
.questionName button:hover {
  background-color: transparent;
}
.questionName .colorAnswers {
  background-color: orange;
}
.questionName .colorAnswers:hover {
  background-color: #00afbf;
}
.questionName .colorAnswers:disabled:hover {
  background-color: orange;
  cursor: not-allowed;
}
.questionName .choosenAnswer {
  background-color: #00afbf;
  transform: translateX(3rem);
}
.questionName .uncorrect {
  background-color: red;
}
.questionName .uncorrect:disabled:hover {
  background-color: red;
}

.questionName .correct {
  animation: blinkAnimation 0.6s linear forwards 10;
  transform: translateX(3rem);
}

@keyframes blinkAnimation {
  0% {
    background-color: #049caa;
  }
  50% {
    background-color: orange;
  }
  100% {
    background-color: #049caa;
  }
}

.questionFooter .confirm {
  border: 2px solid orange;
}
.questionFooter .confirm:disabled {
  cursor: not-allowed;
  border: 1px solid var(--btn-bg);
}

.questionFooter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.questionFooter button {
  width: 16rem;
  font-size: 2rem;
  padding: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: var(--transition);
  background: transparent;
  border-radius: 10rem;

  position: relative;
  display: inline-block;
  outline: none;
  z-index: 0;
  overflow: hidden;
  border: 2px solid orange;
  color: orange;
}
.questionFooter button:hover {
  color: #fff;
}
.questionFooter button:hover:after {
  width: 100%;
}
.questionFooter button:after {
  content: '';
  position: absolute;
  z-index: -1;
  transition: var(--transition);
  right: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: orange;
}
.questionFooter button:disabled {
  border: 1px solid var(--btn-bg);
  color: #ffffff72;
  cursor: not-allowed;
  font-weight: normal;
}
.questionFooter button:disabled:hover:after {
  width: 0%;
}

.questionFooter p {
  font-size: 2rem;
  padding: 1.2rem 2.4rem;
  border-radius: 10rem;
  border: 1px solid var(--btn-bg);
  display: inline-block;
}
.questionFooter div {
  display: flex;
  gap: 2rem;
}

@media (max-width: 1536px) {
}

@media (max-width: 1280px) {
}

@media (max-width: 1024px) {
  .questionsHeader {
    margin-bottom: 4.5rem;
    font-size: 1.8rem;
  }
  .questionName h4 {
    font-size: 2.2rem;
    margin-bottom: 2rem;
  }
  .questionName {
    font-size: 1.9rem;
  }

  .questionFooter button {
    width: 14rem;
    font-size: 1.8rem;
    padding: 1rem;
  }
  .questionFooter p {
    font-size: 1.8rem;
    padding: 1.1rem 2.2rem;
  }
}

@media (max-width: 768px) {
  .questionsHeader {
    margin-bottom: 2.5rem;
    font-size: 1.6rem;
  }
  .questionName h4 {
    font-size: 2rem;
    margin-bottom: 1.8rem;
  }
  .questionName {
    font-size: 1.8rem;
  }

  .questionFooter button {
    width: 12rem;
    font-size: 1.6rem;
    padding: 0.8rem;
  }
  .questionFooter p {
    font-size: 1.6rem;
    padding: 1rem 2rem;
  }
  .questionFooter div {
    gap: 1.8rem;
  }
}

@media (max-width: 640px) {
  .questionsHeader {
    margin-bottom: 2.5rem;
    font-size: 1.6rem;
  }
  .questionName h4 {
    font-size: 2rem;
    margin-bottom: 1.8rem;
  }
  .questionName {
    font-size: 1.8rem;
  }

  .questionFooter button {
    width: 9rem;
    font-size: 1.6rem;
    padding: 0;
  }
  .questionFooter p {
    font-size: 1.6rem;
    padding: 1rem 1.6rem;
  }
  .questionFooter div {
    gap: 1.4rem;
  }

  .questionName .correct {
    transform: translateX(1.2rem);
  }
  .questionName .choosenAnswer {
    transform: translateX(1.2rem);
  }
}

/* @media (max-width: 1536px) {
}

@media (max-width: 1280px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {

}

@media (max-width: 640px) {
}
 */
